{% extends "layout.html"%}
{%block content%}

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar"
    style="background-color: #4f98ca !important;">

    <br />
    <br />
    <br />
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-chart-bar"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading" style="color:white; font-size:12px;">
      Trackers
    </div>



    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link"onclick='wGraphs()'>
        <i class="fas fa-utensils"></i>
        <span>Calories</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-running"></i>
        <span>Exersise</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">



  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <br />
      <br />
      <br />

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2" style='border-left:4px solid #e74a3b !important;'>
              <div class="dropdown no-arrow" style='left:90%; display:inline !important;'>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">

                  <a class="dropdown-item" href="#">Edit</a>

                </div>
              </div>
              <div class="card-body" style="position:absolute !important;">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1"
                      style='color:#e74a3b !important;'>Current Weight</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">175<p style="display: inline;"> LBs</p>
                    </div>
                  </div>
                  <div class="col-auto" style='left:150%;'>
                    <i class="fas fa-weight fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">

            <div class="card border-left-info shadow h-100 py-2" style='border-left:4px solid #50d890 !important;'>
              <div class="dropdown no-arrow" style='left:90%; display:inline !important;'>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">

                  <a class="dropdown-item" href="#">Edit</a>

                </div>
              </div>
              <div class="card-body" style="position:absolute !important;">

                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1"
                      style='color:#50d890 !important;'>Goal Weight</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">150<p style="display: inline;"> LBs</p>
                    </div>
                  </div>
                  <div class="col-auto" style='left:180%;'>

                    <i class="fas fa-balance-scale-right fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2" style='border-left:4px solid #4f98ca !important;'>
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1"
                      style='color:#4f98ca !important;'>Progress to Goal</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar" role="progressbar"
                            style="width: 50%; background-color:#4f98ca !important" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dumbbell fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Weeks Tracking</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->

        <div class="row">
          <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" style="color: #4f98ca !important;">Personal Information
                </h6>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Name</th>
                      <td>Mark Rhoades</td>

                    </tr>
                    <tr>
                      <th scope="row">Age</th>
                      <td>18</td>

                    </tr>
                    <tr>
                      <th scope="row">Height</th>
                      <td>5ft 10in</td>

                    </tr>
                    <tr>
                      <th scope="row">Gender</th>
                      <td>Male</td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Approach -->
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" style="color: #4f98ca !important;">Account Information
                </h6>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody>

                    <tr>
                      <th scope="row">Username</th>
                      <td>mark067</td>

                    </tr>
                    <tr>
                      <th scope="row">Password</th>
                      <td>nas;klcfhna</td>

                    </tr>
                    <tr>
                      <th scope="row">Email</th>
                      <td>mark@gmail.com</td>

                    </tr>
                    <tr>
                      <th scope="row">Date Created</th>
                      <td>12-0-20</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Area Chart -->
          <div style="height: 0% ; width:0% ;overflow: hidden; transition: 0.3s;"id='WOT'>
            <div class="col-lg-6" >
              <div class="card shadow mb-4" style="height: 110% !important">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" style="color: #4f98ca !important;">Current Weight Over
                    Time</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="WOTChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div style="height: 0% !important; width:0% !important;overflow: hidden;"id='CEOT'>
            <div class="col-lg-6" >
              <div class="card shadow mb-4" style="height: 110% !important">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" style="color: #4f98ca !important;">Calories Eaten This
                    Week</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="CEOTChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="height: 0% ; width:0% ;overflow: hidden; transition: 0.3s;"id='EOT'>
            <div class="col-lg-6" >
              <div class="card shadow mb-4" style="height: 110% !important">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" style="color: #4f98ca !important;">Days Exersised Per Week</h6>
    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="EOTChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="height: 0% ; width:0% ;overflow: hidden; transition: 0.3s;"id='ROT'>
            <div class="col-lg-6" >
              <div class="card shadow mb-4" style="height: 110% !important">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" style="color: #4f98ca !important;">Days Exersised Per Week</h6>
    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="ROTChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>

      
      <script>
        Chart.defaults.global.legend.display = false;
        new Chart(document.getElementById("WOTChart"), {
          type: 'line',
          data: {
            labels: ['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
              'October', 'November', 'December'
            ],
            datasets: [{
              data: [200, 214, 200, 196, 190, 195, 185],

              borderColor: "#3e95cd",
              fill: false
            }]
          },
          options: {
            title: {
              display: false,
              text: 'Weight Over Time',

            }
          }
        });
        new Chart(document.getElementById("ROTChart"), {
          type: 'line',
          data: {
            labels: ['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
              'October', 'November', 'December'
            ],
            datasets: [{
              data: [200, 214, 200, 196, 190, 195, 185],

              borderColor: "#3e95cd",
              fill: false
            }]
          },
          options: {
            title: {
              display: false,
              text: 'Weight Over Time',

            }
          }
        });
        new Chart(document.getElementById("CEOTChart"), {
          type: 'bar',
          data: {
            labels: ['Sunday', 'Monday', 'Tuesday', 'Wendesday', 'Thursday', 'Friday', 'Saturday'],
           
            datasets: [{
              label: "Calories Eaten",
              backgroundColor: ["#4f98ca", "#50d890", "#e74a3b", "#f6c23e", "#6610f2", "#fd7e14", "#e83e8c"],
              data: [2478, 2111, 2000, 1800, 2334, 1900, 2400]
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 15,
                  stepSize: 1
                }
              }],
            },
            legend: {
              display: false
            },

          }
        });
        new Chart(document.getElementById("EOTChart"), {
          type: 'bar',
          data: {
            labels: ['Week 1','Week 2','Week 3','Week 4','Week 5','Week 6','Week 7','Week 8',],
            datasets: [{
              label: "Days Exersised",
              backgroundColor: ["#4f98ca", "#50d890", "#e74a3b", "#f6c23e", "#6610f2", "#fd7e14", "#e83e8c"],
              
              data: [7,2,3,5,6,3,2,1]
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  min: 1000,
                  max: 3000,
                  stepSize: 200
                }
              }],
            },
            legend: {
              display: false
            },

          }
        });
        
        function wGraphs(){
          $('#WOT').css({'height':'100%','width':'50%',})
          $('#CEOT').css({'height':'100%','width':'50%',})
        }
      </script>
      <br />
      <br />
      <br />

      {% endblock content%}