{% extends "layout.html"%}
{%block content%}
<br />
<br />
<br />
<main role="main">
    <div class="container marketing">

        <div class='row'>
            <div class='col-lg-2'>
                <h1 style="text-align: center;">2000</h1>
                <h4 style="text-align: center;">Goal</h4>
            </div>
            <div class='col-lg-1'>
                <h1 style="text-align: center;">-</h1>
            </div>
            <div class='col-lg-2'>
                <h1 style="text-align: center;" id='eatCalories'>0</h1>
                <h4 style="text-align: center;">Food</h4>
            </div>
            <div class='col-lg-1'>
                <h1 style="text-align: center;">+</h1>

            </div>
            <div class='col-lg-2'>
                <h1 style="text-align: center;">0</h1>
                <h4 style="text-align: center;">exercise</h4>
            </div>
            <div class='col-lg-1'>
                <h1 style="text-align: center;">=</h1>

            </div>
            <div class='col-lg-2'>
                <h1 style="text-align: center;"id='finalCalories'>2000</h1>
                <h4 style="text-align: center;">Calories Remaining</h4>
            </div>
            <div class='col-lg-1'>
                <i class="fas fa-chart-pie fa-2x" style="color: #272727; cursor: pointer; float: right;"
                    onclick="openChart()"></i>
            </div>
            <br />

        </div>
        <br />
        <br />
        <br />
        <hr class="featurette-divider">
        <br />
        <br />
        <br />
        <h2><a style="float: left;">Breakfast</a>
            <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="float: right; color: #272727; cursor: pointer;"
                onclick="openNav();Breakfast=true;Lunch=false;Dinner=false;Snacks=false;">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
            </svg>
        </h2>
        <br/>
        <br/>
        <br/>
        <table class="addTable"style=" border: none; color: Black; width: 100%;table-layout: fixed;">
            <tbody id='addedBreakfast'>
                <thead>
                    <tr style="border-bottom:1px solid white;">
                      <th>Image</th>
                      <th>Amount</th>
                      <th>Name</th>
                      <th>Calories</th>
                      <th>Macros</th>
                      <th style="width: 30%; text-align: center;">Settings</th>
                    
                      
                    </tr>
                
                   
                  </thead>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <hr class="featurette-divider">
        <br />
        <br />
        <br />
        <h2><a style="float: left;">Lunch</a>
            <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="float: right; color: #272727; cursor: pointer;"
                onclick="openNav();Breakfast=false;Lunch=true;Dinner=false;Snacks=false;">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
            </svg>
        </h2>
        <br/>
        <br/>
        <br/>
        <table class="addTable"style=" border: none; color: black; width: 100%;table-layout: fixed;">
            <tbody id='addedLunch'>
                <thead>
                    <tr style="border-bottom:1px solid white;">
                      <th>Image</th>
                      <th>Amount</th>
                      <th>Name</th>
                      <th>Calories</th>
                      <th>Macros</th>
                      <th style="width: 30%; text-align: center;">Settings</th>
                  
                      
                    </tr>
                
                   
                  </thead>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <hr class="featurette-divider">
        <br />
        <br />
        <br />
        <h2><a style="float: left;">Dinner</a>
            <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="float: right; color: #272727; cursor: pointer;"
                onclick="openNav();Breakfast=false;Lunch=false;Dinner=true;Snacks=false;">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
            </svg>
        </h2>
        <br/>
        <br/>
        <br/>
        <table class="addTable"style=" border: none; color: black; width: 100%;table-layout: fixed;">
            <tbody id='addedDinner'>
                <thead>
                    <tr style="border-bottom:1px solid white;">
                      <th>Image</th>
                      <th>Amount</th>
                      <th>Name</th>
                      <th>Calories</th>
                      <th>Macros</th>
                      <th style="width: 30%; text-align: center;">Settings</th>
                  
                      
                    </tr>
                
                   
                  </thead>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <hr class="featurette-divider">
        <br />
        <br />
        <br />
        <h2><a style="float: left;">Snacks</a>
            <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="float: right; color: #272727; cursor: pointer;"
                onclick="openNav();Breakfast=false;Lunch=false;Dinner=false;Snacks=true;">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
            </svg>
        </h2>
        <br/>
        <br/>
        <br/>
        <table class="addTable"style=" border: none; color: black; width: 100%;table-layout: fixed;">
            <tbody id='addedSnacks'>
                <thead>
                    <tr style="border-bottom:1px solid white;">
                      <th>Image</th>
                      <th>Amount</th>
                      <th>Name</th>
                      <th>Calories</th>
                      <th>Macros</th>
                      <th style="width: 30%; text-align: center;">Settings</th>
              
                      
                    </tr>
                
                   
                  </thead>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <div id="myNav" class="overlay">
            <p onclick="closeNav()"> <a href="javascript:void(0)" class="closebtn">&times;</a></p>

            <div class="overlay-content">
                <main role='main'>
                    <div class='container marketing'>
                        <h1 style=" text-align: center;">Add Food</h1>

                        <br/>
                        <br/>
                        <form id='searchForm' class="form-inline d-flex justify-content-center md-form form-sm mt-0"
                            style="margin: 0; padding: 0;">

                            <i class="fas fa-search fa-2x" style="color: white; float: left;"></i>
                            <input id='searchBar' class="form-control form-control-sm ml-3 w-75" type="text"
                                placeholder="Search" aria-label="Search"
                                style="background-color: transparent; color: white;  border-bottom:1px solid white; font-size: 20px; display: inline;">

                            &emsp14; <a onclick="getFood()" class="btn btn-primary btn-primary"
                                style=" border-radius: 10px;display: inline; background-color: #4f98ca; color: white; border: 1px solid #4f98ca;">Submit</a>
                        </form>
                        <h3 class = 'hide' style="text-align: center; display: none;" id='errorText'><br/><br/><br/>Error While Searching, Try Again!</h1>
                        <table class='table-borderless' style=" border: none; color: white; width: 100%;table-layout: fixed;">
                            <br/>
                            <br/>
                            <br/>
                           
                            <tbody id='items' style="display: none;">
                                <thead>
                                    <tr style="border-bottom:1px solid white;">
                                      <th>Image</th>
                                      <th>Amount</th>
                                      <th>Name</th>
                                      <th>Calories</th>
                                      <th>Macros</th>
                                      <th style="width: 30%; text-align: center;">Settings</th>
                                      
                                      
                                    </tr>
                                
                                   
                                  </thead>
                            </tbody>
                        </table>
                    </div>
                   


            </div>
        </div>
</main>
</div>
</div>
<div id="chart" class="overlay">
    <p onclick="closeChart()"> <a href="javascript:void(0)" class="closebtn">&times;</a></p>

    <div class="overlay-content">
        <main role='main'>
            <div class='container marketing'>
                <canvas id='pie-chart'
                    style='background-color:transparent; border: none; margin: auto; width: 70%vw !important; height: 70%vw !important;'>

            </div>
        </main>
    </div>
</div>
</div>
</main>
<script>

    Chart.defaults.global.defaultFontColor = 'white';
    Chart.defaults.global.defaultFontSize = 24;
    
    var canvas = 'pie-chart';
    let ctx = 'pie-chart'



    let calories = 0;
    let caloriesRemaining=2000;
    let protein =0;
    let fat =0;
    let carbs=0;
    let Breakfast = false;
    let Lunch = false;
    let Dinner = false;
    let Snacks = false;
    let currentSection;


    var options = {
        title: {
            display: true,
            text: 'Your Macromolecues',
            position: 'top',
            color: 'white',
        },
        rotation: -0.7 * Math.PI,
        tooltips: {
            enabled: false,
        },

    };



    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
        labels: ["Carbohydrates", "proteins", "Fats"],
        datasets: [{
            fill: true,
            backgroundColor: [
                'rgb(255,211,29)',
                'rgb(214,52,71)',
                'rgb(245,123,81)'
            ],
            data: [0,0,0],

            borderColor: ['black', 'black', 'black'],
            borderWidth: [2, 2, 2]
        }]
    },
      
        options: options
    });
    function updateChart()
    {   
       pieChart.data.datasets[0].data=[carbs,protein,fat];//function updates the chart data
       pieChart.update()
    }
  
  
    $('#searchForm').on('submit',function (e){
        e.preventDefault();
    })
    function save(sElm) { //save button function
        $(sElm).html('Edit');
        $(sElm).attr('onclick', 'edit(this)');//changes onclick and html of save button
        let sRow = $(sElm).closest('tr');
        let name = $(sRow).find('h3').html()  
        let amount =parseFloat($(sRow).find('input[placeholder|=Quanity]').val())
        if(isNaN(amount)===true)//checks if amount is a NaN
        {
            amount=0;
            
        }
        let caloriesIA = amount * parseInt($(sRow).find('p[name="calories"]').html())
        caloriesRemaining -= caloriesIA;//subtracts calories from total
  
        document.getElementById('finalCalories').innerHTML=''//updates calories remaining and total calories
        document.getElementById('finalCalories').innerHTML+=caloriesRemaining;
        document.getElementById('eatCalories').innerHTML=''
        document.getElementById('eatCalories').innerHTML+=caloriesIA+calories;
        calories+=caloriesIA;
        protein+=parseInt($(sRow).find('a[name="protein"]').html())*amount;//gets macros in food
        fat+=parseInt($(sRow).find('a[name="fat"]').html())*amount;
        carbs+=parseInt($(sRow).find('a[name="carbs"]').html())*amount;
     
        updateChart()//updates chart

        fetch('/api/foodedit', {
            method: 'POST',
            headers: {
    'Content-Type': 'application/json'},
            body: JSON.stringify({
            'id': sElm.id,
            'serving': amount,
            'protein':protein,
            'fat':fat,
            'carbs':carbs,
            'calories':caloriesIA
            })
        })


        $(sRow).find('input').attr('readonly', 'readonly') //makes forms editable
    }
    function edit(elm) { //edit button function
        $(elm).html('Save');
        $(elm).attr('onclick', 'save(this)'); //makes it change to a save button
        let row = $(elm).closest('tr'); //selects the tr
        row.find('input').removeAttr('readonly'); //makes inputs editable
        let amount =parseFloat($(row).find('input[placeholder|=Quanity]').val())
        if(isNaN(amount)===true)//checks if amount is a NaN
        {
            amount=0;
        }
        let caloriesIA = amount * parseInt($(row).find('p[name="calories"]').html())
        caloriesRemaining += caloriesIA;//subtracts calories from total
        calories-=caloriesIA
        protein-=parseInt($(row).find('a[name="protein"]').html())*amount;//gets macros from food
        fat-=parseInt($(row).find('a[name="fat"]').html())*amount;
        carbs-=parseInt($(row).find('a[name="carbs"]').html())*amount;
     
        updateChart()
      
    }
    function deleteRow(row) {
        let selectedRow = $(row).closest('tr'); //selects row
        let amount =parseFloat($(selectedRow).find('input[placeholder|=Quanity]').val())
        if(isNaN(amount)===true)//checks if amount is a NaN
        {
            amount=0;
        }
        let caloriesIA = amount * parseInt($(selectedRow).find('p[name="calories"]').html())
        caloriesRemaining += caloriesIA;//subtracts calories from total
        document.getElementById('finalCalories').innerHTML=''//updates calories remaining and total calories
        document.getElementById('finalCalories').innerHTML+=caloriesRemaining;
        document.getElementById('eatCalories').innerHTML=''
        document.getElementById('eatCalories').innerHTML+=calories-caloriesIA;
        calories-=caloriesIA
        protein-=parseInt($(selectedRow).find('a[name="protein"]').html())*amount;//gets macros from food
        fat-=parseInt($(selectedRow).find('a[name="fat"]').html())*amount;
        carbs-=parseInt($(selectedRow).find('a[name="carbs"]').html())*amount;
     
        updateChart()
        
        
        fetch('/api/fooddelete', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'},
            body: JSON.stringify(row.id)
        })


        $(selectedRow).remove(); //deletes it

    }
    function addEx(element){
       
        if(Breakfast===true)//checks to see which plus was clicked on
        {
            var elm = '#addedBreakfast'
            currentSection = 'B'
        }
        if(Lunch===true)
        {
            var elm = '#addedLunch'
            currentSection = 'L'
        }
        if(Dinner===true)
        {
            var elm = '#addedDinner'
            currentSection = 'D'
        }
        if(Snacks===true)
        {
            var elm = '#addedSnacks'
            currentSection = 'S'
        }
        let original = $(element).closest('tr'); //gets closest parent to the addbutton
        let movedOriginal = $(original).clone(); //clones selected item
        let name = $(movedOriginal).find('p[name="foodname"').html()
        let image = $(movedOriginal).find('img').attr('src')
        $(movedOriginal).find('input').css('color', '#272727').attr('readonly', 'readonly'); //makes forms un editable
        let amount =parseFloat($(movedOriginal).find('input[placeholder|=Quanity]').val())
        if(isNaN(amount)===true)//checks if amount is a NaN
        {
            amount=0;
            
        }
        let caloriesIA = amount * parseInt($(movedOriginal).find('p[name="calories"]').html())
        caloriesRemaining -= caloriesIA;//subtracts calories from total
  
        document.getElementById('finalCalories').innerHTML=''//updates calories remaining and total calories
        document.getElementById('finalCalories').innerHTML+=caloriesRemaining;
        document.getElementById('eatCalories').innerHTML=''
        document.getElementById('eatCalories').innerHTML+=caloriesIA+calories;
        calories+=caloriesIA;
        $(movedOriginal).find('a[name="firstBtn"]').html('Delete').css({ //changes css for delete button
            'background-color': '#e74a3b',
            'border': '1px solid #e74a3b'
        }).attr('onclick', 'deleteRow(this)');
        $('<a name="editBtn" onclick="edit(this)" id="addBtn" Class="btn btn-primary btn-primary"style=" border-radius: 10px;display: inline; background-color: #4f98ca; color: white; border: 1px solid #4f98ca;">Edit</a>')
            .insertAfter($(movedOriginal).find('b')); //inserts edit button in p tag
        protein+=parseInt($(movedOriginal).find('a[name="protein"]').html())*amount;//gets marcos of food
        fat+=parseInt($(movedOriginal).find('a[name="fat"]').html())*amount;
        carbs+=parseInt($(movedOriginal).find('a[name="carbs"]').html())*amount;
     
        updateChart()
        $(movedOriginal).appendTo($(elm)); //adds it to the DOM

    fetch('/food', {  
        method: 'POST',
        headers: {
    'Content-Type': 'application/json'}, 
        body: JSON.stringify({
            'name': name,
            'image': image,
            'serving': amount,
            'protein':protein,
            'fat':fat,
            'carbs':carbs,
            'calories':caloriesIA,
            'section':currentSection
            })
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(myJson) {
        deleteBtns = document.getElementsByName('deleteBtn');
        deleteBtns[deleteBtns.length - 1].setAttribute('id', myJson)

        editBtns = document.getElementsByName('editBtn')
        editBtns[editBtns.length - 1].setAttribute('id', myJson)
    })
    
}

    function getFood() {
        let app_id = 'd6436c7d';
        let api_key = '85d45512856b5726d15cdfa3094c8882';
        let food = document.getElementById('searchBar').value;
        let x = []
        let url =
            `https://api.edamam.com/api/food-database/parser?ingr=${encodeURIComponent(food)}&app_id=${app_id}&app_key=${api_key}`
        async function findFood() {
            try {
               $('#errorText').addClass('hide')
                $('#errorText').css('display','none')
                let clearResults =   document.getElementById('items').innerHTML=''
                let response = await axios.get(url)
                let image;
               
                    for(let i = 0; i<=(Object.keys(response.data.hints).length)-1; i++)
                    {
                       
                        if( response.data.hints[i].food.image===undefined)
                        {
                            image="https://www.edamam.com/food-img/771/7715ef0a0acc8062e37a3a19e6caa5a5.png"
                        }
                        else{
                            image = response.data.hints[i].food.image;
                        }
                     
                        document.getElementById('items').innerHTML+='<tr "><td><img style="width: 50%; height: 30%;" src='+
                        image+'></td><td>100g</td><td> <p name= "foodname">'+response.data.hints[i].food.label+'</p></td><td>Calories: <p name="calories">'
                        +Math.round(response.data.hints[i].food.nutrients.ENERC_KCAL)+'</p></td><td style="text-align:left;"> protein: <a name="protein">'
                        +Math.round(response.data.hints[i].food.nutrients.PROCNT)+'</a>g <br/>Fat: <a name="fat">'
                        +Math.round(response.data.hints[i].food.nutrients.FAT)+'</a>g <br/>Carbohydrates: <a name="carbs">'+
                        Math.round(response.data.hints[i].food.nutrients.CHOCDF)+'</a>g</td><td><form class="form-inline d-flex justify-content-center md-form form-sm mt-0">'
                        +'<input  class="form-control form-control-sm ml-3 " type="number"placeholder="Quanity" aria-label="Search"style="background-color: transparent; color: white; width:30%; border-bottom:1px solid white; display: inline;"> &emsp14; <a name="firstBtn" onclick="addEx(this);closeNav();" class="btn btn-primary btn-primary"style=" border-radius: 10px;display: inline; background-color: #4f98ca; color: white; border: 1px solid #4f98ca;">Add</a><b></b></form></td></tr><hr class="featurette-divider">'
                    
                    }
                
                let displayResults = await $('#items').css('display','');
               
            } catch (error) {
                $('#errorText').removeClass()
                $('#errorText').css('display','')
                console.log(error);
                
            }

        }
        findFood()
    }

    function openNav() {
        document.getElementById("myNav").style.width = "100%";

    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";

    }

    function openChart() {
        document.getElementById("chart").style.width = "100%";

    }

    function closeChart() {
        document.getElementById("chart").style.width = "0%";

    }


    fetch('/api/food')
    .then(function(response) {
        return response.json();
    })
    .then(function(myJson) {
        console.log(myJson)
        if (Object.keys(myJson).length != 0) {
            for(i=0; i<Object.keys(myJson).length; i++) {
                if(myJson[`Food ${i+1}`][8]=='B')
                {
                    var elm = '#addedBreakfast'
                }
                else if(myJson[`Food ${i+1}`][8]=='L')
                {
                    var elm = '#addedLunch'
                }
                else if(myJson[`Food ${i+1}`][8]=='D')
                {
                    var elm = '#addedDinner'
                }
                else if(myJson[`Food ${i+1}`][8]=='S')
                {
                    var elm = '#addedSnacks'
                }
                
                    
                image = myJson[`Food ${i+1}`][2]    
                
                
                row = document.createElement('tr')   
                row.innerHTML+='<tr "><td><img style="width: 50%; height: 30%;" src='+
                image+'></td><td>100g</td><td> <p name= "foodname">'+myJson[`Food ${i+1}`][1]+'</p></td><td>Calories: <p name="calories">'
                +Math.round(myJson[`Food ${i+1}`][4])+'</p></td><td style="text-align:left;"> protein: <a name="protein">'
                +Math.round(myJson[`Food ${i+1}`][5])+'</a>g <br/>Fat: <a name="fat">'
                +Math.round(myJson[`Food ${i+1}`][6])+'</a>g <br/>Carbohydrates: <a name="carbs">'+
                Math.round(myJson[`Food ${i+1}`][7])+'</a>g</td><td><form class="form-inline d-flex justify-content-center md-form form-sm mt-0">'
                +'<input  class="form-control form-control-sm ml-3 quantity" readonly=readonly type="number" placeholder="Quanity" aria-label="Search"style="background-color: transparent; color: black; width:30%; border-bottom:1px solid white; display: inline;"> &ensp; <a name="deleteBtn" onclick="deleteRow(this)" class="btn btn-primary btn-primary"style=" border-radius: 10px;display: inline; background-color: #e74a3b; color: white; border: 1px solid #e74a3b;">Delete</a>&emsp14; <a name="editBtn" onclick="edit(this)" Class="btn btn-primary btn-primary"style=" border-radius: 10px;display: inline; background-color: #4f98ca; color: white; border: 1px solid #4f98ca;">Edit</a> &emsp14; <b></b></form></td></tr>'
                
                $(row).appendTo($(elm))
                console.log(document.getElementsByName('deleteBtn'))

                document.getElementsByClassName('quantity')[i].value = myJson[`Food ${i+1}`][3]
                document.getElementsByName('editBtn')[i].setAttribute('id', myJson[`Food ${i+1}`][0])
                document.getElementsByName('deleteBtn')[i].setAttribute('id', myJson[`Food ${i+1}`][0])
                protein+=Math.round(myJson[`Food ${i+1}`][5])*myJson[`Food ${i+1}`][3];//gets marcos of food
                fat+=Math.round(myJson[`Food ${i+1}`][6])*myJson[`Food ${i+1}`][3];
                carbs+=Math.round(myJson[`Food ${i+1}`][7])*myJson[`Food ${i+1}`][3]; 
                updateChart()
              
                caloriesRemaining -= Math.round(myJson[`Food ${i+1}`][4]);//subtracts calories from total
  
                document.getElementById('finalCalories').innerHTML=''//updates calories remaining and total calories
                document.getElementById('finalCalories').innerHTML+=caloriesRemaining;
                document.getElementById('eatCalories').innerHTML=''
                document.getElementById('eatCalories').innerHTML+=Math.round(myJson[`Food ${i+1}`][4])+calories;
                calories+=Math.round(myJson[`Food ${i+1}`][4]);
            }
        }
    })

</script>

{% endblock content%}