{% extends "layout.html"%}
{%block content%}

<style>

.login {
            text-decoration: bold;
            font-size: 20px;
            z-index: 800;
        }

        .error {
            background-color: red;
            color: white;
            text-align: center;
            width: 20%;
            position: relative;
            left: -2.222222%;
            z-index: 800;
        }

</style>
    

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="top: 100;">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides --><!--All Images are 1920 x 540 -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style = 'width: 100%; height: 100%;  margin: auto;'src="https://i.imgur.com/42fXjs3.png" alt="1">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Understand Your Health.</h1>
          
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <img style = 'width: 100%; height: 96% !important;  margin: auto;' src="https://i.imgur.com/0Xyts2w.png" alt="2">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Keep Track Of Your Exercise.</h1>
            
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <img style = 'width: 100%; height: 100%;  margin: auto;'  src="https://i.imgur.com/temtDGO.png" alt="3">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Track Your Food And What's Inside them.</h1>
           
          </div>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br/>
  <br/>
  <br/>
  <main role="main">

  <div class="container marketing">

   
    


    
    
    

    <div class="row featurette"id='im1'>
      <div class="col-md-5" >
        <h2 class="featurette-heading">Keep Track of Food </h2>
        <p class="lead">Using the Edamam Foodbase API you can pick out any food you eat and see details about it. You get to see its calories and macromolecue content compared to the total amount of calories and macromolecues you ate today. All it takes is a click of the plus button and you can search for your desired food. Then just add how much of it you ate and watch it get added to your total food eaten.</p>
      </div>
      <div class="col-md-7">
       <img style="width:100%;height:110%;" src='https://i.imgur.com/AFAkT3r.png'>
      </div>
    </div>
<br/>
<br/>
    <hr class="featurette-divider">
<br/>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Track Your exercise</h2>
        <p class="lead">Search and select any exercise across a database of 850+ exercises. With a click of the plus button you can search for your desired exercise. After finding one just add how much time you spent exercising and the amount of sets and reps you did of it. Then watch your total time exercising update alongside your total sets and reps completed. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img style="width:100%;height:110%;" src='https://i.imgur.com/haHB87K.png'>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">Log Your Route</h2>
        <p class="lead">Using the Geolocation API you can track your walk, run or bike ride wherever whenever. Just click the start button to start your activity. When finished you get to see your total time, pace, distance and calories burned. Then just click the save button to have your run be saved on the exercise page. </p>
      </div>
      <div class="col-md-7">
        <img style="width:100%;height:110%;" src='https://i.imgur.com/RooPX0B.png'>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  
</main>

{% endblock content%}


