{% extends "layout.html"%}
{%block content%}
<main role="main">
    <div class="container marketing">
        <br />
        <br />
        <br />
        <h1 style="text-decoration: underline;">Project Resources</h1>
        <br />
        <h3>Development</h3>
        <ul style="font-size:20px;">
            <li>
                Python
            </li>
            <li>
                HTML & CSS
            </li>
            <li>
                JavaScript
            </li>
        </ul>
        <h3>Libraries & Frameworks</h3>
        <ul style="font-size:20px;">
            <li>
                Axios 0.19.2
            </li>
            <li>
                Bootsrap 4.4.1
            </li>
            <li>
                Chart.js 2.9.3
            </li>
            <li>
                Chartjs-Plugin-Datalabels 0.7.0
            </li>
            <li>
                Flask 1.1.x
            </li>
            <li>
                Fontawesome 5.13.0
            </li>

            <li>
                jQuery 3.5.1
            </li>
            <li>
                Leaflet 1.6.0
            </li>

            <li>
                Semantic UI 2.4.2
            </li>
            <li>
                SQLAlchemy 1.2
            </li>

        </ul>

        <h3>APIs</h3>
        <ul style="font-size: 20px;">
            <li><a target="_blank" rel="noopener noreferrer" href='https://developer.edamam.com/food-database-api'>Edamam Foodbase API</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href='https://github.com/davejt/exercise'>Open Source Exersise API</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href='https://openweathermap.org/'>Open Weather Map API</a></li>
        </ul>
    </div>
</main>




{% endblock content%}