{% extends "layout.html"%}
{%block content%}
<br />
<br />
<br />
<div class='row row-eq-height'>
    <div class='col-lg-4'>
        <h1 style="text-align: center;">Time:</h1>

        <h1 style="text-align: center;">00:00</h1>
    </div>
    
    <div class="col-lg-4 ml-auto text-center">
        
        <a href="#" class="btn btn-lg btn-primary" style="width: 30;color: white; background-color: #4f98ca; border: 1px solid #4f98ca; border-radius: 10px;">Start</a>
       
    </div>
    
    <div class='col-lg-4 ml-auto'>
        <h1 style="text-align: center;">Miles:</h1>
        <h1 style="text-align: center;">0</h1>

    </div>

</div>
{% endblock content%}