{% extends "layout.html"%}
{%block content%}
<br />
<br />
<br />
<main role="main">
    <div class="container marketing">
        <div class="row">
            <div class='col-lg-4' style="float:left; text-align:center;">
                <h1>Time</h1>
                <h1 id='time'>0:0:0</h1>

            </div>
            <div class="col-lg-4 text-center">
                <a style="background-color:#4f98ca ; color: white ; border: 1px solid #4f98ca; font-size: 2em; width: 105%;"
                    class="btn btn-lg btn-primary" role="button" onclick='start()' id='startBtn'>Start</a>
                <a style="background-color:red ; color: white ; border: 1px solid red; font-size: 2em; width: 105%;"
                    class="hide btn btn-lg btn-primary" role="button" onclick='stop()' id='stopBtn'>Stop</a>
            </div>
            <div class="col-lg-4" style="float: right; text-align: center;">
                <h1>Miles</h1>
                <h1 id='miles'>0</h1>
            </div>
            <div class="col-lg-8 ">
                <h4 style="float: right;">Weather:<a id='weatherResults'></a></h4>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>


    <div id="map" style="position: absolute; margin-left:25%;margin-right:25%;width:50%;height: 70%;z-index: 10;"></div>
    <div id="myNav" class="overlay" style="z-index: 20;">
        <p onclick="closeNav()"> <a href="javascript:void(0)" class="closebtn">&times;</a></p>

        <div class="overlay-content">
            <main role='main'>
                <div class='container marketing'>
                    <h1 style=" text-align: center;">Your Run</h1>
                    <div class="row">
                        <div class="col-lg-6" style="float: left; text-align: center;">
                            <h2> Time</h2>
                            <h2 id='finalTime'></h2>
                        </div>
                        <div class="col-lg-6" style="float: right; text-align: center;">
                            <h2> Distance</h2>
                            <h2 id='finalDis'></h2>
                        </div>
                        <div class="col-lg-12 text-center"><br />
                            <br /><a
                                style="background-color:#4f98ca ; color: white ; border: 1px solid #4f98ca; font-size: 2em; width: 30%;"
                                class="btn btn-lg btn-primary" role="button" onclick='' id='startBtn'>Save</a></div>
                    </div>


                </div>
            </main>
        </div>
    </div>
</main>

<script>
    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
    let totalDis = 0;

    function degreesToRadians(degrees) { //this just gets dis between 2 points in km
        return degrees * Math.PI / 180;
    }
    Number.prototype.roundUsing = function (func, prec) {
        var temp = this * Math.pow(10, prec)
        temp = func(temp);
        return temp / Math.pow(10, prec)
    }

    function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {
        var earthRadiusKm = 6371;

        var dLat = degreesToRadians(lat2 - lat1);
        var dLon = degreesToRadians(lon2 - lon1);

        lat1 = degreesToRadians(lat1);
        lat2 = degreesToRadians(lat2);

        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var Km = earthRadiusKm * c;
        var mi = Km * 1.609;
        mi = mi.roundUsing(Math.ceil, 2)
        totalDis = totalDis + mi;
        document.getElementById('miles').innerHTML = ''
        document.getElementById('miles').innerHTML += totalDis
    }
    let hours = 0;
    let minutes = 0;
    let seconds = 0;
    let startCheck;
    let line = [];
    let timerFunctionCounter = 0; //<- so function only runs once
    function stop() { //<- on stop button click
        startCheck = false;
        $('#stopBtn').addClass('hide')
        $('#startBtn').removeClass('hide')
        document.getElementById("myNav").style.width = "100%";
        document.getElementById('finalTime').innerHTML = ''
        document.getElementById('finalTime').innerHTML += hours + ':' + minutes + ':' + seconds;
        document.getElementById('finalDis').innerHTML = ''
        document.getElementById('finalDis').innerHTML += totalDis + ' mi'
    }

    function start() { //<- on start button click

        totalDis = 0;
        if (timerFunctionCounter === 0) { //function only runsz once
            timer()
            timerFunctionCounter++;
        }
        startCheck = true;
        hours = 0;
        minutes = 0; //make everything start at 0 on each run
        seconds = 0;
        $('#startBtn').addClass('hide')
        $('#stopBtn').removeClass('hide')
        document.getElementById('miles').innerHTML = ''
        document.getElementById('miles').innerHTML += totalDis + ' mi'
        map.removeLayer(createLine)

    }

    function timer() {


        setInterval(function () {

            if (startCheck === true) {

                document.getElementById('time').innerHTML = ''
                document.getElementById('time').innerHTML += hours + ':' + minutes + ':' + seconds;
                seconds++;
                if (seconds > 60) {
                    minutes++;
                    seconds = 0;
                    if (minutes > 60) {
                        hours++;
                        minutes = 0;
                    }
                }
            }
        }, 1000)
    }

    var myStyle = {
        "color": "#272727",
        "weight": 5,
        "opacity": 0.65
    };

    function createLine(lon0, lat0, lon1, lat1) //constructor to form a new line
    {
        this.startLon = lon0;
        this.startLat = lat0;
        this.endLon = lon1;
        this.endLat = lat1;

        let newLine = [{
            "type": "LineString",
            "coordinates": [
                [this.startLon, this.startLat],
                [this.endLon, this.endLat],
            ]
        }]
        let newLineLayer = L.geoJSON(newLine, {
            style: myStyle
        })
        newLineLayer.addTo(map)
    }
    //function runs on every location change
    navigator.geolocation.watchPosition(pos => {

        line.push([pos.coords.longitude, pos.coords.latitude])
        console.log(line)

        if (line.length >= 2) {
            if (startCheck === true) {
                new createLine(line[0][0], line[0][1], line[2][0], line[2][
                    1
                ]); //first 2 elements are the same on every location change
                distanceInKmBetweenEarthCoordinates(line[0][0], line[0][1], line[2][0], line[2][
                    1
                ])

            }
            line.shift()
            //line.shift()

        }
    }, (error) => {
        window.alert(error)
    }, {
        enableHighAccuracy: true
    })

    let map = L.map('map').setView([0, 0], 2);
    let posIcon = new L.Icon({
        iconUrl: 'https://api.geoapify.com/v1/icon/?type=circle&color=%234f98ca&size=small&icon=Circle&iconType=awesome&iconSize=small&strokeColor=%230346ff&noWhiteCircle&apiKey=c95f29ee641d4197bb612d71b4d6c435'
    })




    api_key =
        'c8ae987d039ba96d612968e4e689a032' // url = `api.openweathermap.org/data/2.5/weather?q={city name},{state}&appid=${api_key}`
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition( //on page load checks if geolocation works and then gets weather data 
            async (position) => {
                try {

                    let response = await axios.get('https://api.openweathermap.org/data/2.5/weather?lat=' +
                        position.coords.latitude + '&lon=' + position.coords.longitude +
                        '&appid=c8ae987d039ba96d612968e4e689a032&units=imperial');
                    document.getElementById('weatherResults').innerHTML += response.data.name + ', ' + response
                        .data.weather[0].main + ', ' + response.data.main.temp + '&#8457;';

                } catch {
                    document.getElementById('weatherResults').innerHTML += 'Failed to get weather data'
                }
            })
    } else {
        window.alert('Geolocation Failed!')
    }

    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=gFX05mk9hDIatdpgPG7C', {
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        maxZoom: 18,
        tileSize: 512,
        zoomOffset: -1,
        zoomControl: false

    }).addTo(map);
    map.locate({ //always zooms in on location
        watch: true,
        setView: true,
        maxZoom: 16
    }).on('locationfound', (e) => {
        if (!this.marker) {
            this.marker = L.marker([e.latitude, e.longitude], {
                icon: posIcon,
            }).addTo(map);
        } else {
            this.marker.setLatLng([e.latitude, e.longitude]);
        }
    })
</script>
</div>
{% endblock content%}